h1 {
    margin-bottom: 50px;
}

.table{
    background-color: lightblue;
    text-align: center;
    margin-top: 450px;
    margin-left: 50px;
}

#chartContainer {
    margin-top: 50px;
    top: 50px;
    display: flex;
}